{% extends 'base.html' %}

{% block title %}
    {{ tag.title }}
{% endblock %}

{% block content %}

    <h2>{{tag.title}}</h2>
    {% with comments.count as total_comments %}
        <h2>{{ total_commnets }} comment {{total_commnets|pluralize}}</h2>
    {% endwith %}

{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment {{forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks}}
</div>
{% empty %}
    <p> There are no comments yet.</p>
{% endor %}

{% if new_comment %}
    <h2> Your comments has been added.</h2>
{% else %}
    <h2> Add a new comment </h2>
    <form action="." method="post">
        {{ comment_form.as_p}}
        {%crsf_token%}
        <p><input type="submit" value="Add commnet"></p>
    </form>
{% endif %}
{% endblock %}