{% extends 'base.html' %}

{% block title %}
    {{ tag.title }}
{% endblock %}

{% block content %}

    <h2>{{tag.title}}</h2>
    {% with comments.count as total_comments %}
        <h2>{{ total_commnets }} comment {{total_commnets|pluralize}}</h2>
    {% endwith %}

{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment {{forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks}}
</div>
{% empty %}
    <p> There are no comments yet.</p>
{% endfor %}
{% endblock %}